@import "reset";
@import "vars/global";
@import "themes/light";
@import "themes/dard";

.app{
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}