.Loader {
    position: relative;
    border: 24px solid var(--primary-color);
    border-radius: 50%;
    box-sizing: border-box;
    animation: eat 1s linear infinite;
}

.Loader::after,
.Loader::before {
    content: "";
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--primary-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-sizing: border-box;
    opacity: 0;
    animation: move 2s linear infinite;
}

.Loader::before {
    animation-delay: 1s;
}

@keyframes eat {
    0%,
    49% { border-right-color: var(--primary-color); }

    50%,
    100% { border-right-color: #0000; }
}

@keyframes move {
    0% {
        left: 75px;
        opacity: 1;
    }

    50% {
        left: 0;
        opacity: 1;
    }

    52%,
    100% {
        left: -5px;
        opacity: 0;
    }
}
