.Button {
    margin: 0;
}

.clear,
.clearInverted {
    margin: 0;
    border: none;
    background: none;
    outline: none;
}

.clear {
    color: var(--primary-color);
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.outline {
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}

.square {
    padding: 0;

    &.size_m {
        height: var(--font-line-m);
        width: var(--font-line-m);
        font: var(--font-m);
    }

    &.size_l {
        height: var(--font-line-l);
        width: var(--font-line-l);
        font: var(--font-l);
    }

    &.size_xl {
        height: var(--font-line-xl);
        width: var(--font-line-xl);
        font: var(--font-xl);
    }
}

.disabled {
    opacity: 0.5;
}
