.Sidebar {
    height: calc(100vh - var(--navbar-haight));
    width: var(--sidebar-width);
    padding: 12px 0 10px;
    margin-left: -6px;
}

.switchers {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
