.PageError {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: var(--bg-color);
}

.title {
    margin-bottom: 20px;
}
