.app.dark{
    --inverted-bg-color: #e8e8ea;
    --bg-color: #2c2c2c;
    --primary-color: #00d000;
    --secondary-color: #04ff04;
    --inverted-primary-color: #041c65;
    --inverted-secondary-color: #0449e0;
}