.app_dark_theme {
    --bg-color: #141414;
    --bg-color-content: #222;
    --theme-color: #e1e3e6;
    --primary-color: #e1e3e6;
    --primary-hover-color: #f5f5f7;
    --blue-color: #73aef0;
    --grey-color: #939393;
    --inverted-primary-color: #000;
    --secondary-color: #e1e3e6;
    --secondary-bg: #393939;
    --secondary-bg-hover: #3d3d3d;
    --inverted-secondary-color: #000;
    --border: #363738;
    --border-secondary: #292929;
}
