:root {
    --bg-color: #edeef0;
    --bg-color-content: #fff;
    --theme-color: #000;
    --primary-color: #2688eb;
    --primary-hover-color: #2483e4;
    --blue-color: #3f72ad;
    --inverted-primary-color: #fff;
    --secondary-color: rgb(98 109 122);
    --inverted-secondary-color: #04ff04;
    --border: #cbcbcb;
    --border-secondary: #e7e8ec;
}
