:root {
    --bg-color: #edeef0;
    --bg-color-content: #fff;
    --theme-color: #000;
    --primary-color: #3770b1;
    --primary-hover-color: #4177b5;
    --blue-color: #3f72ad;
    --grey-color: #626d7a;
    --red-color: #e64646;
    --inverted-primary-color: #fff;
    --secondary-color: rgb(98 109 122);
    --secondary-bg: #ebf2fa;
    --secondary-bg-hover: #dfeaf6;
    --inverted-secondary-color: #04ff04;
    --border: #cbcbcb;
    --border-secondary: #e7e8ec;
    --fallback-bg: #f0f2f5;
}

// --primary-color: #2688eb;
// --primary-hover-color: #2483e4;
